/*Estilos por defecto*/ 
 
*{
    margin:0px; 
    padding:0px; 
    box-sizing:border-box;
    font-family: 'Anton', sans-serif;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
}

/*Nuestra*/

.sobre{
    width:100%;
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #ccc;
}

.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caracteristicas{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; 
    z-index: 1;
    gap:1rem;
}

.lista{
   width: 90%;
   height: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   list-style: none;
   gap:2rem;
}

.imagen{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img{
    image-rendering: auto;
}

.unirse{
    width:90%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.unirse p{
    text-align: center;
}

.unirse button{
    width:20%;
    height: 4rem;
    border-radius: 10%;
    border-style: none;
    background:  #589667;
    color:white;
}

.titulo{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}