/*Estilos por defecto*/ 
 
*{
    margin:0px; 
    padding:0px; 
    box-sizing:border-box;
    font-family: 'Anton', sans-serif;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
}

/*None*/

.imagen_res{
    display: none;
}

.loginvistaresponsive{
    display: none;
}

.texto_responsive{
    display: none;
}

/*Nuestra*/

.sobre{
    width:100%;
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    border:1px solid #ccc;
}

.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caracteristicas{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; 
    gap:1rem;
}

.caracteristicas p{
    width: 60%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen img{
    image-rendering: auto;
}

.titulo{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccionesapp{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginvista{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginvista img{
    width: 90%;
    height: 90%;
}

.informacion{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.informacion p{
    width: 60%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo2{
    width: 90%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Responcive desing*/

@media (max-width: 930px) {
    .contenedor{
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
    }

    .caracteristicas{
        width: 100%;
    }

    .imagen{
        width: 100%;
    }

    .seccionesapp{
        flex-direction: column;
    }

    .loginvista{
        width: 100%;
        height: 50%;
    }

    .informacion{
        width: 100%;
        height: 50%;
    }

 }

 
@media (max-width: 650px) {
         
        .imagen{
            display: none;
        }

        .imagen_res{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .imagen_res p{
            width: 80%;
        }

        .imagen_res img{
            image-rendering: auto;
        }

        .imagen_res{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        .imagen_res p{
            width: 80%;
        }

        
        .loginvista{
            display: none;
        }

        .informacion{
           display: none;
        }
        
        .caracteristicas{
            display: none;
        }

        .loginvistaresponsive{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

         .loginvistaresponsive p{
            width: 80%;
         }

        .loginvistaresponsive img{
            width: 90%;
            height: 90%;
        }

        .texto_responsive{
            display: flex;
            justify-content: center;
            align-items: center;
        }


    }