/* Estilos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    font-family: 'Comfortaa', cursive;
    color:  #4d4949;
}

/* Sobre Nosotros */

.contenedor {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre{
    width:100%;
    height:10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid #ccc;
}

.foto {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 100%;
    background-color: #589667;
}

.Informacion {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.Informacion h2 {
    width: 90%;
    position: relative; 
    z-index: 1;
    color:#fff;
    font-size: 17px;
}

.fondo { 
    width: 40%;
    height: 35%;
    border-top-right-radius: 100%;
    background-color: #589667;
    position: absolute; 
    bottom: 0;
    left: 0;
    z-index: 0;  
}

.tarjeta{
    width: 80%;
    height: 80%;
    background: #5F4F4A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 10;  
    border-radius: 5%;
    text-align: center;

}

.tarjeta p {
    width: 30px;
    height: 30px;
    background:#fff;
    border-radius: 100%;
    position: relative;
    left: 200px;
    top: -35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tarjeta p::before,
.tarjeta p::after {
    content: '';
    width: 30px;
    height: 30px;
    background:cornflowerblue;
    border-radius: 100%;
    position: absolute;
}

.tarjeta p::before {
    left: -35px;
}

.tarjeta p::after {
    right: -35px;
}